@charset "utf-8";





/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  padding: 0;
  margin: 0
  scroll-behavior: smooth;
}

section {
    padding: 30px 0px;
   
}
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}

.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
}

.navbar-inverse {
  background-color: rgb(0,0,0,0.3);
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFCC00
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}



.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-menu {
  display: block;
}




/*=====slider =======*/
@media screen and (min-width: 600px) {
.slider { 
  width:100%; 
  height: auto;
  padding: 0;
}
}
.slider ul.bxslider img{
  width: 100%;
  height: auto;
}
.bx-pager{
 margin: 0;
 padding: 0;
}
.bx-pager img{
  width: 100px;
  height: auto;
}
.bx-pager a {
  opacity: 0.1;
}
.bx-pager a:hover,
.bx-pager a.active {
  opacity: 1;
}
}
/* About*/
*{
  box-sizing: border-box; 
}
.section-title-s2 h2{
  text-align: center;
  font-family: 'poppins',sans-serif;
  font-size: 40px;
  position: relative;
color: #283a5e;
 margin-bottom: 60px;
  
  margin-top: -5px;
}
.section-title-s2 span{
color: #ffaf5a;
}
.section-title-s2 h2::before{
  content: "";
  display: block;
  background: #ffaf5a;
  height: 3px;
  width: 120px;
  position: absolute;
  
  left: 45%;
  bottom: -25%;

}


.box{
  width: 230px;
  background: #fff;
  box-shadow: 0 0 5px #bababa;
  overflow: hidden;
  position: relative;
  margin:10px auto; 
  margin-top: 8%;
}


.avtar{
  width: 100%;
  height: auto;
  display: block;
}
.box .box-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box .box-content:before,
.box .box-content:after{
  content: "";
  width: 95%;
  height: 47%;
  background: #e01e48;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  opacity: 0;

}
.box .box-content:before{
  top: -20%;
}
.box .box-content:after{
  bottom: -20%;
}
.box:hover .box-content:after{
  bottom: 3%;
  opacity: 0.8;
}

.box:hover .box-content:before{
  top: 3%;
   opacity: 0.8;
}

.box .content{
  width: 100%;
  height: 45%;
  position: absolute;
  z-index: 1; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  opacity: 0;
  transition: all 0.5s;
}
.box:hover .content{
  opacity: 1;
  transform:rotate(0deg);
}
.box .social{
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
.box .social li{
  
  margin-top: 5%;
  margin-right: 10px;
  background: #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  font-size: 18px;
}
.box .title {
color: #fff;
font-size: 23px;
margin-bottom: 7px;
}
.box .post{
  color: #fff;
  font-size: 14px;
}



/*service section*/
#offer{
  background:  #FDEDEC;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}.bg-gray {
    background-color: #f9f9f9;
}




.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #00a01d none repeat scroll 0 0;
  border-color: #00a01d;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #00a01d;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  height: auto;
  border-radius: 10px;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #FFA400 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #00a01d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  
}


.more{
  display: none;
}

.read{
  background: transparent;
  border:none;
  outline:none;
}

.we-offer-area .item i {
  color: #00a01d;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-family: poppins;
}

.we-offer-area .item p {
  margin: 0;
  font-family: poppins;
  color: #555;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #e01e48 ;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;

}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}



.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #00a01d !important;
}

.we-offer-area.text-left .item i {
  background: #00a01d none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #00a01d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}
#read{
  display:none;
}
/*====== Our Features========*/

.features{
  background: #F6DCFE;
}

.card{
  position: relative;
  width: 250px;
  height: 380px;
  margin: 12px ;
 background: linear-gradient(45deg, #b0e4c8 41%, #f5f5f5 41%);
 transform: translateY(16px);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
border-top:1px solid rgba(255,255,255,0.5);
border-left:1px solid rgba(255,255,255,0.5);
text-align: center;

}
.text-center{
  margin: auto;
}
.card .info{
color:#000;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
  z-index: 10;
  margin-top: -10px;

}
.card:hover .card{
  transform: translateY(0px);
  background: transparent;

}
/*.card .info::before{
  content:"";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: pink;
  transition: 1.2s;
  opacity: 0;
  z-index: 1;

}
.card .info:hover::before{
  top:0;
  opacity: 0.5;
  }*/
/*.card:hover .info{
  transform: translateY(0px);
  opacity: 1;*/


 .card .info h3{
  font-family: Poppins;
font-size: 1.8em;
font-weight: 500;
}
.card .info p{
  font-family: poppins;
 font-size: 12px;
 font-weight: 300;
 text-align: center;
 color: #555

}
/*=====counter======*/
.one{
  padding-top: 100px;
}

.one .container{
  z-index: 10;
  position: relative;
}
.single{
  box-shadow: 0px 20px 60px 0px rgba(42,40,51,0.05);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.single:before{
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 50%;
  background-image: linear-gradient(40deg,#ff43c0 0%,#ffa95c 100%); 
}

.inner{

  width: 100%;
  height: 100%;
  box-shadow:0px 20px 40px 0px rgba(255,118,142,0.3);
  border-radius: 50%;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}
 a.btn{
  background-color: #FFA400;
  border: none;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
 }
 .btn{
  padding: 15px 10px;

 }
.sub-title p{
  margin-top: 5%;
  color: #666;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/*======About-us=====*/
#about-us{
  background:#FDEDF8;
}
/*====== End About-us=====*/


/*=======testimonials======*/
.testimon{
  background: #fff;
}

@media screen and (min-width: 600px) {
#myCarousel{
width:600px;
  background: url(../assets/images/test1.jpg);
  background-size: cover;
border-radius: 20px;
  
}
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
    font-family: poppins;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview { 
  font-style: italic;
  color: #e01e48;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #000;
}
.carousel .carousel-control {
  width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
  background: none;
}

.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;   
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
p.testimonial{
  background: rgba(0,0,0,0.5);
}
 
/*======= End Testimonials======*/

/*=====price======*/

.price-box{
  background:#fff;
  color:#555;
  list-style-type:none;
  border:none;
  margin:0;
  padding:0;
  transition:0.3s;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 10%;
  height: auto;
}





.price-box .header{
  background-color:#FFA400;
  color:#fff;
  font-size:25px;
}

.price-box li{
  padding:20px;
  border-bottom:1px solid #eee;
  text-align:center;
}

.price-box .grey{
  background-color:#f4f4f4;
  font-size:45px;
  margin-bottom: 7%;

}

 .price-box .button{
  background-color:#FFA400  ;
  border:none;
  border-radius: 30px;
  color:#fff;
  padding: 10px 40px;
  text-align:center;
  text-decoration:none;
  font-size:18px;
 
}






/*=============== Service page==================*/

.intro p{
  text-align: center;
  font-family: 'poppins',sans-serif;
  font-size: 20px;
  align-items: center;
color: #283a5e; 
}

.intro ul li{
  text-align: center;
}
.card-intro{
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 30px;
  border-radius: 10px;
}

.img-infog{
    width: 100%;
}
#srv{
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background: #FFF;
  border-radius: 50%;
}
.flexbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}


.flex {
    width: 16%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    justify-content: center;
}

.flexbottom {
    border-bottom: 6px solid #009688;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.flextop {
    border-top: 5px solid #009688;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}

.flextop:before {content: '';width: 1px;height: 250px;background: #009688;position: absolute;left: 0;/* border-radius: 64px; */}

.flextop:after {
    content: '';
    width: 1px;
    height: 250px;
    background: #009688;
    position: absolute;
    right: 0;
}

.flexbottom {
    box-shadow: inset 0px -20px 0px #03a999;
}

.flex.flextop {
    box-shadow: inset 0px 20px 0px #03a999;
}

.stepNumber {
    width: 100%;
    text-align: center;
    border: 1px solid orange;
    border-radius: 50px 0px 50px 0px;
    background: orange;
    color: white;
}

p {
    text-align: center;
}









.footer{
  margin-top:2%;

border-top: 2px solid purple;
}


.footer h3{
  font-family: 'Poppins', sans-serif;
  color: #283a5e;
  font-weight: 500;
    font-size: 2.1rem;
    
}
.footer h3::before{
  content: "";
  display: block;
  background: #ffaf5a;
  height: 3px;
  width: 100px;
  position: absolute;
  text-align: center;
  left: 5%;
  bottom: 70%;
  opacity: 1;
  transition: 0.6s;
  
}
 h3:hover::before{
  
  width: 0px;
  
}

.footer li{
  list-style: none;


}
.footer ul{
  padding-left: 0;
    margin: 0;
    display: block;

}
.footer a{
  text-decoration: none;
  color: #666;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
}
.footer a:hover{
  color:red;
}
hr{
  margin-top: 40px;
}
 .copyright {
  color: #666;
  font-family: 'Poppins', sans-serif;
 }
 .copyright a{
  color:red;
  text-decoration: none;

 }
 .copyright a:hover{
  color:#666;
 }
.social-icon {
  margin-top: -20%;

}
 .social-icon li {
  margin-right: 10px;
  background: #17202A;
  margin-top: 2%;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50px;
  font-size: 18px;
  z-index: 2;
  text-align: center;
 }
.social-icon li i{
  color: #fff;
}
  .social-icon :hover{
    background: #F7DC6F;
    color: #000;
  }

  .social-icon:hover{
color: #000;
  }


  .img-responsive{
    margin-top: 3%;
    display: inline-block;


  }





 
 /* footer*/

 
