a:focus, a:active, .color,
.a-icon,
.counter,
.se-icon,
.con-icon,
.social-container a {
    color: #1fda9a;
    background: -moz-linear-gradient(180deg, #ff425b 0%, #c42251 100%);
    background: -webkit-linear-gradient(180deg, #ff425b 0%, #c42251 100%);
    background: linear-gradient(180deg, #ff425b 0%, #c42251 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skillbar-bar,
.label-primary,
#team .team-social,
.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger,
.process-block,
.cbp-l-filters-button .cbp-filter-item-active,
.label-primary,
#contact input.submit {
    background-color: #212121; 
}

/* Website highlight color */
::-moz-selection {background: #1fda9a;text-shadow: none;color:#fff;}
::selection {background: #1fda9a;text-shadow: none;color:#fff;}